MONGO_URI=mongodb://localhost:27017/kinefy
JWT_SECRET=tu_secreto_super_seguro

# Configuración de Email (Ejemplo para Mailtrap)
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=tu_usuario
EMAIL_PASS=tu_password
